body {
	margin: 50px;
	border: 2px solid black;
	padding: 0 50px 0 50px;
	font-family: 'Old Standard TT', serif;
}

h1 {
	text-align: center;
	border-bottom: 1px solid black;
}

h2 {
	text-decoration: underline;
}

.date {
	float: right;
}

.place {
	font-weight: bold;
}

.position {
	margin: -3px 1px -20px 0;
	font-size: 15px;
	padding: 0 0 2px;
	font-style: italic;
}

.description {
	margin-top: -1px;
	font-size: 15px;
}

.activities ul  {
	margin-top: -1px;
}

